$robotoFont: "Roboto", sans-serif;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  // overflow-y: hidden;
}

@media screen and (min-width: 952px) {
  body,
  html {
    overflow-y: hidden;
  }
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: $robotoFont;
}

.container {
  padding-left: 5px;
  padding-right: 5px;
}

.d-flex {
  display: flex;
}

body {
  position: relative;
  // background-color: green;
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import "styles/nav";
@import "styles/footer";
@import "styles/works";
