.work {
  .work-titles {
    width: 45%;
    text-align: right;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);

    p {
      font-size: 37px;
      text-transform: uppercase;
      font-weight: 100;
      a {
        text-decoration: none;
        color: black;
        transition: all 0.1s ease-in-out;
      }
    }
  }

  .work-imgs {
    position: absolute;
    right: 15%;
    padding-bottom: 130px;
    width: 35%;
    div {
      padding-top: 10px;
      height: 94vh;
      padding-bottom: 100px;

      img {
        height: 100%;
        display: block;
        margin: 100px 0px;
      }
    }
  }

  .clicked {
    font-weight: 800;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1080px) {
  .work {
    .work-titles {
      width: 40%;
    }

    .work-imgs {
      right: 20%;
    }
  }
}

@media only screen and (max-width: 952px) {
  .work {
    .work-titles {
      display: none;
    }

    .work-imgs {
      left: 50%;
      transform: translateX(-50%);
      width: 55%;

      div {
        height: initial;
        img {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          margin: 100px 0px 0px 0px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .work {
    .work-imgs {
      width: 70%;
      div {
        height: initial;
        padding: 0px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .work {
    .work-imgs {
      width: 90%;
      padding-top: 0px;
      img {
        margin: 0px;
        padding: 0px;
      }
    }
  }
}
